{% extends "base.html.twig" %}
{% block title %}
	No account
{% endblock %}
{% block contenu %}
	<h1 class='text-danger d-flex justify-content-center my-5'>
		You are disconnected
	</h1>
{% endblock %}
